.article-page h1 {
  margin-bottom: 24px;

  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  color: #202020;
}

.article-page .collapsible-sidebar-body {
  padding-top: 10px;
}

.article-page .sidenav-item {
  margin-bottom: 5px;
  padding: 12px;
}

.article-page .sidenav-item.current-article {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.article-page .sidenav-item:not(.current-article):hover {
  color: #212121;

  background-color: #e9ebed;
}

.article-page .article-header {
  margin-bottom: 0;
}

.article-page .article-meta > a {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #424242;
}

.article-page .article-meta .meta-data {
  font-size: 12px;
  line-height: 16px;
  color: $link_color;
}

.article-page .article-content {
  margin-top: 0;
}

/* Article body */
.article-page .article-body {
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}

.article-page .article-body h2,
.article-page .article-body h3,
.article-page .article-body h4,
.article-page .article-body h5,
.article-page .article-body h6 {
  margin-top: 0;
  margin-bottom: 12px;

  line-height: 42px;
  color: #202020;
}

.article-page .article-body h2 {
  font-size: 24px;
}

.article-page .article-body h3 {
  font-size: 20px;
}

.article-page .article-body h4 {
  font-size: 18px;
}

.article-page .article-body h5 {
  font-size: 16px;
}

.article-page .article-body h6 {
  font-size: 14px;
}

.article-page .article-body strong,
.article-page .article-body b {
  font-weight: bold;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.article-page .article-body h2 strong,
.article-page .article-body h3 strong,
.article-page .article-body h4 strong,
.article-page .article-body h5 strong,
.article-page .article-body h6 strong {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

.article-page .article-body p {
  margin-top: 0;
  margin-bottom: 12px;
}

.article-page .article-body p ~ ul,
.article-page .article-body p ~ ol {
  margin-top: -12px;
}

.article-page .article-body ul,
.article-page .article-body ol {
  margin: 0;
  margin-bottom: 24px;
}

.article-page .article-body p ~ h2,
.article-page .article-body p ~ h3,
.article-page .article-body ul ~ h2,
.article-page .article-body ul ~ h3,
.article-page .article-body ol ~ h2,
.article-page .article-body ol ~ h3 {
  margin-top: 24px;
}

.article-page .article-body a:hover {
  color: #00564c;
}

.article-page .article-body iframe {
  max-width: 100%;
}

.article-page .article-body img {
  margin-top: 24px;
  margin-bottom: 12px;
}

.article-page .article-body .alert-info,
.article-page .article-body .alert-warning {
  margin: 24px 0;
  padding: 20px;

  border: 2px solid #4858ac;
  border-radius: 5px;
}

.article-page .article-body .alert-warning {
  border-color: #ee7950;
}

.article-page .article-body .icon-img {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: 24px;
  margin: 0;
  padding: 0 5px;
}
.pointer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: 0 4px;

  vertical-align: middle;

  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;

  background-color: #ff9a00;
  border-radius: 4px;

  transform: translateY(-1px);
}

.article-page .article-body ol.pointer-list {
  padding-left: 0;
  list-style: none;
  counter-reset: num;
}

.article-page .article-body ol.pointer-list li {
  position: relative;

  padding-left: 32px;
}

.article-page .article-body ol.pointer-list li::before {
  position: absolute;
  top: 4px;
  left: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  content: counter(num);
  counter-increment: num;

  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;

  background-color: #ff9a00;
  border-radius: 4px;
}

.article-page .article-body ol.pointer-list li > img,
.article-page .article-body ol.pointer-list li > p {
  margin-left: -20px;
}

.article-page .article-body .blockquote {
  position: relative;

  margin-top: 40px;
  margin-bottom: 24px;
  padding: 40px 20px;

  border: 3px solid #008a7a;
  border-radius: 5px;
}

.article-page .article-body .blockquote::before {
  content: "";
  position: absolute;
  top: -18px;
  left: 22px;

  width: 52px;
  height: 32px;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url($assets-icon-quote-svg);
}

.article-page .article-body .blockquote p {
  margin-bottom: 0;
}

.article-page .article-body .blockquote p + p {
  margin-top: 12px;
}

/* End Article body */

.article-page .article-votes {
  padding-top: 36px;
  padding-bottom: 36px;

  border-color: #c4c4c4;
}

.article-page .article-votes-question {
  font-weight: bold;
  color: #212121;
}

.article-page .article-votes-controls {
  margin-top: 18px;
}

.article-page .article-vote {
  margin: 0 6px;
  padding: 6px 26px;

  font-size: 14px;
  line-height: 24px;
  color: #424242;

  background-color: #fbfbfb;
  border: none;
}

.article-page .article-vote:hover {
  color: #ffffff;

  background-color: $brand_color;
}

@media (min-width: 768px) {
  .article-page .article-body .alert-info,
  .article-page .article-body .alert-warning {
    padding: 30px;
  }

  .article-page .article-body .blockquote {
    padding: 40px;
  }
}

@media (min-width: 1024px) {
  .article-page .navigation {
    padding-right: 10px;
  }

  .article-page .article-container {
    display: grid;
    grid-template-columns: 28% 72%;
    column-gap: 28px;
  }

  .article-page .sidenav-title {
    display: none;
  }

  .article-page .article {
    width: 100%;
    max-width: 765px;
  }

  .article-page .article-body .blockquote {
    padding: 40px 68px;
  }

  .article-page .article-votes {
    padding-bottom: 115px;

    border-top: none;
  }
}
