.home-page {
  padding-bottom: 60px;
}

.home-page .blocks-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 13px;
}

.home-page .blocks-item {
  width: 100%;
  margin: 0;

  border-radius: 2px;
  border-color: #bfbfbf;

  transition: all 0.16s;
}

.home-page .blocks-item:hover {
  border-color: transparent;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.home-page .blocks-item:hover,
.home-page .blocks-item:focus {
  background-color: #ffffff;
}

.home-page .blocks-item-link {
  justify-content: start;
  padding: 24px;

  background-color: #ffffff;
}

.home-page .blocks-item-link:focus {
  outline: none;
  box-shadow: none;
}

.home-page .blocks-img {
  width: 62px;
  height: 62px;
  margin-bottom: 12px;
  overflow: hidden;

  background-color: #f1f8f7;
  background-repeat: no-repeat;
  background-position: center;
}

.home-page .blocks-item-title {
  margin-bottom: 6px;

  font-size: 18px;
  line-height: 30px;
  text-align: left;

  color: #212121 !important;
}

.home-page .blocks-item-description {
  margin-top: 0;

  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: $text_color !important;
}

@media (min-width: 1024px) {
  .home-page .blocks-list {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
