.home-page {
  padding-bottom: 60px;
}

.home-page .blocks-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 13px;
}

.home-page .blocks-item {
  width: 100%;
  margin: 0;

  border-radius: 3px;
  border-color: #bfbfbf;
}

.home-page .blocks-item:hover,
.home-page .blocks-item:focus {
  background-color: #ffffff;
}

.home-page .blocks-item-link {
  justify-content: start;
  padding: 12px 12px 24px;
}

.home-page .blocks-item-link:focus {
  outline: none;
  box-shadow: none;
}

.home-page .blocks-img {
  height: 156px;
  margin-bottom: 12px;
  overflow: hidden;

  background: linear-gradient(0deg, #ededed, #ededed), #ededed;
}

.home-page .blocks-img img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.home-page .blocks-item-title {
  margin-bottom: 6px;

  font-size: 18px;
  line-height: 30px;

  color: #212121 !important;
}

.home-page .blocks-item-description {
  margin-top: 0;

  color: $text_color !important;
}
