.navigation {
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #202020;
}

.navigation__list {
  height: 0;

  overflow: hidden;
}

.navigation__list--show {
  height: auto;
}

.navigation__burger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  padding: 12px 0px;

  color: #202020;
}

.navigation__burger .navigation__icon.x-icon {
  display: none;
}

.navigation__burger--show .navigation__icon.chevron-icon {
  display: none;
}

.navigation__burger--show .navigation__icon.x-icon {
  display: block;
}

.navigation__section-list,
.navigation__article-list {
  height: 0;
  overflow: hidden;
}

.navigation__item.active > .navigation__section-list {
  height: auto;
}

.navigation__section-item.active > .navigation__article-list {
  height: auto;
}

.navigation button {
  margin: 0;

  color: #202020;

  background-color: transparent;
  border: none;
  outline: none;

  cursor: pointer;

  transition: all 0.1s;
}

/* First level */
.navigation__item > button {
  position: relative;

  width: 100%;
  padding: 8px 8px 8px 28px;

  font-weight: bold;
  text-align: left;
  color: #909090;

  cursor: pointer;
}

.navigation__item > button svg {
  position: absolute;
  top: 5px;
  left: 0;

  width: 24px;
  height: 24px;
}

/* Second level  */
.navigation__section-item > button {
  position: relative;

  padding: 4px 8px 4px 48px;

  font-size: 14px;
  color: #202020;
}

.navigation__section-item > button:hover,
.navigation__section-item.active > button,
.navigation__section-item.current > button {
  color: #008a7a;
}

.navigation__section-item > button svg {
  content: "";
  position: absolute;
  top: 6px;
  left: 32px;

  width: 6px;
  height: 8px;

  fill: #202020;

  transition: transform 0.13s;
}

.navigation__section-item.active > button svg {
  fill: #008a7a;

  transform: rotate(90deg);
}

.navigation__section-item > button:hover svg,
.navigation__section-item.current > button svg {
  fill: #008a7a;
}

/* Third level  */
.navigation__article-item > a {
  display: block;
  margin-left: 28px;
  padding: 4px 8px 4px 20px;

  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #202020;

  border-radius: 2px;

  transition: all 0.13s;
}

.navigation__article-item.current > a,
.navigation__article-item > a:hover {
  color: #008a7a;

  background-color: #e6f4f2;
}

@media (min-width: 1024px) {
  .navigation {
    position: sticky;
    top: 50px;
  }

  .navigation__list {
    height: auto;
    padding-bottom: 24px;

    overflow: visible;
  }

  .navigation__burger {
    display: none;
  }
}
