.search-panel {
  position: relative;

  width: 100%;
  padding-top: 8px;

  background-color: #ffffff;
}

.search-panel .search::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: #9e9e9e;

  transition: background-color 0.2s;
}

.search-panel .search:focus-within::after {
  height: 2px;
  background-color: #ff9a00;
}

.search-panel input[type="search"] {
  height: auto;
  padding: 3px 35px 8px 35px;

  font-size: 14px;
  line-height: 19px;
  color: $text_color;

  background-color: transparent;
  border: none;
  border-radius: 0;

  transition: border-color 0.2s;
}

.search-panel input[type="search"]:focus {
  color: $text_color;

  background-color: #ffffff;
  border: none;

  background-color: transparent;
}

.search-panel input[type="search"]::placeholder {
  font-size: 14px;
  line-height: 19px;
  color: #757575;
}

.search-panel input[type="search"]::-webkit-search-cancel-button {
  position: absolute;
  top: 8px;
  right: 5px;

  -webkit-appearance: none;

  width: 12px;
  height: 12px;

  opacity: 1;

  background-image: url($assets-icon-cross-svg);
  background-size: contain;
  cursor: pointer;
}

.search-panel .search-icon {
  top: 22px;
  left: 3px;

  fill: #757575;
}
