@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Lato"), url($assets-lato-regular-woff2) format("woff2"), url($assets-lato-regular-woff) format("woff");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local("Lato"), url($assets-lato-bold-woff2) format("woff2"), url($assets-lato-bold-woff) format("woff");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Lato"), url($assets-lato-black-woff2) format("woff2"), url($assets-lato-black-woff) format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Inter"), url($assets-inter-regular-woff2) format("woff2"), url($assets-inter-regular-woff) format("woff");
}
