body {
  min-width: 360px;
}

body *::selection {
  color: #212121;
  background-color: #e6f4f2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
}

a {
  color: $brand_color;
}

a:hover {
  color: #00564c;
}
